 <div class="row">
            <div class="col-12">
                <div class="tm-main-bg tm-about-bg"></div>        
            </div>
        </div>
        
        <!-- Main -->
        <main>
            <!-- Welcome section -->
            <section class="tm-welcome">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-section-header tm-header-floating">About Me</h2>         
                    </div>
                </div>
                
                <div class="row tm-welcome-row">
                    <div class="tm-about">
                        <div class="col-12 tm-media tm-media-v-center">
                            <div>
                                <p style="text-align: justify;">My name is Ananthu Santhosh . I am from Kerala. I have just finished my college.
                                     I had been a student Viswajyothi College.Now i moved to Canada to continue with my studies
                                      in Conestoga college.I'm eagerly looking forward to being in a new place and attending a new institution. 
                                This is the start of a new chapter in my life. In the three or four years leading up to my graduation,
                                 I am looking forward to making new friends, acquiring new skills, and expanding my horizons,
                                  as well as having fun and enjoying my college experience.</p>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row tm-welcome-row-2">
                    <div class="col-12">
                        <h2 class="tm-section-header tm-section-header-small mb-4">Hobbies</h2>        
                    </div>
                    <div class="col-md-6">
                        <div class="tm-about-1">
                            <img src="img/img-3x1-01.jpg" alt="Image" class="img-fluid mb-5">
                            <p style="text-align: justify;"> I enjoy outdoor activities such as reading, drawing, and photography and editing.
                                     I enjoy visiting new, lesser-known locations since it broadens my understanding
                                      of my country and allows me to pursue my passion for photography.</p>
                        </div>    
                    
                     </div>
            </section>
            
          