<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Yeti Bootstrap Theme from bootswatch -->

    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'
  </head>
  <body>
    
    <!-- Bootstrap 4 navbar from w3schools https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp -->
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
  <nav class="navbar navbar-expand-sm bg-light">

  <!-- Links -->
  <ul class="navbar-nav">
      <a class="nav-brand" href="/" >Home</a>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Projects">Projects</a>
    </li>
  </ul>

</nav>
{{{body}}}
<p>I am a Computer science graduate whon is currentlt persuing my post graduation in Mobile solutions development. I am also doing freelance 
  developing work in my freetime
</p>
<title>1 Year Experience in Android development</title>
<p>I have worked 1 year in android development and had 6 month intenship in android applications development in Infosys,
   where i acquired a wide range of experience </p>
  </body>
</html>
