body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;  
}
p{
  font-size: larger;
  background-image: "/public/images/page1background.jpg";  
}

a {
  color: #00B7FF;
}


