<!--references: https://www.free-css.com/free-css-templates/page265/new-vision-->
<!--Welcome image-->
<div class="row">
            <div class="col-12">
                <div class="tm-main-bg tm-services-bg"></div>        
            </div>
        </div>
        
        <!-- Main -->
        <main>
            <!-- Welcome section and project info printing-->
            <section class="tm-welcome">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-section-header tm-header-floating">My Projects and Area of expertice</h2>         
                    </div>
                </div>
                <!--Image with area of expertise-->
                <div class="row tm-welcome-row tm-services">
                    <div class="col-md-3 col-sm-6">
                        <figure class="tm-services-img">
                            <img src="img/services-1.jpg" alt="Image" class="img-fluid">        
                            <figcaption class="tm-service-description">Workflow Planning</figcaption>
                        </figure>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <figure class="tm-services-img">
                            <img src="img/services-2.jpg" alt="Image" class="img-fluid">        
                            <figcaption class="tm-service-description">Android development</figcaption>
                        </figure>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <figure class="tm-services-img">
                            <img src="img/services-3.jpg" alt="Image" class="img-fluid">    
                            <figcaption class="tm-service-description">Digital Marketing</figcaption>
                        </figure>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <figure class="tm-services-img">
                            <img src="img/services-4.jpg" alt="Image" class="img-fluid">    
                            <figcaption class="tm-service-description">VR Gaming</figcaption>
                        </figure>
                    </div>
                </div>
                <!--Area of intrest-->
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-section-header tm-section-header-small mb-5">My Main Areas Of Intrest</h2>        
                    </div>
                </div>
                <div class="row tm-approach-row">
                    <div class="col-md-6">
                        <div class="tm-approach-box">
                            <div class="tm-media tm-media-2 tm-media-v-center tm-solid-border">
                                
                                <div>
                                    <p style="text-align: justify;">{{Android}}</p>
                                </div>
                            </div>        
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tm-approach-box">
                            <div class="tm-media tm-media-2 tm-media-v-center tm-solid-border">
                                
                                <div>
                                    <p style="text-align: justify;">{{Deep}}</p>
                                </div>
                            </div>        
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tm-approach-box">
                            <div class="tm-media tm-media-2 tm-media-v-center tm-solid-border">
                                
                                <div>
                                    <p style="text-align: justify;">{{Web}} </p>
                                </div>
                            </div>         
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tm-approach-box">
                            <div class="tm-media tm-media-2 tm-media-v-center tm-solid-border">
                               
                                <div>
                                    <p style="text-align: justify;">{{Digital}}</p>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </section>
            
            